button {
    background-color: #e7e7e7;
    border: 2px solid darkgray;
    color: white;
    padding: 10px 24px;
    text-align: center;
    width: 10%;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 0 0 15px 0px;
    box-sizing: border-box;
}

.error {
    color: red;
}

.success {
    color: blue;
}