table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

th {
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
}
